#map{
    width: 100% !important;
    height: 100% !important;
    background-color: #f6f6f4;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}